<div><app-header></app-header></div>
<div class="bookheader">
    <div class="count">Books<span style="position: relative; font-size: smaller; font-weight: lighter;">(128
            items)</span></div>
    <div class="left">
        <select class="sort-selector">
            <option *ngFor="let sort of sorts" [value]="sort.value">
                {{sort.selectValue}}
            </option>
        </select>
    </div>
</div>
<div class="container">

    <div class="book">
        <div class="image">
            <img src="../assets/images/component (1).png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button (click)="onAdd()"
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    {{button}} </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>

    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 14.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 8.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 36.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 18.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 12.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 13.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 18.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/component (1).png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 8.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
    <div class="book">
        <div class="image">
            <img src="../assets/images/Image 14.png">
        </div>
        <div class="text">
            Don't Make Me Think<br> <span
                style="font-size: 11px; font-family: sans-serif;color: #878787;font: normal;">by Steve Krug</span>
            <br><span style="font-weight: bolder;">Rs. 1500</span>
        </div>
        <div class="buttons">
            <div class="button2">
                <button  
                    style="background-color: brown; color: white; height: 30px; border: none; width: 95px; margin-left: 0.9rem;">
                    ADD TO BAG </button>&nbsp;&nbsp;
                <button style="height: 30px; border: none; width: 70px;">Wishlist</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div><app-footer></app-footer></div>