<div class="header">

    <div class="hedr">
        <img src="../../assets/images/component.png" alt="k" />
        <span>Book Store</span>
    </div>
    <div class="header-content-div">

        <input type="search" class="search-input-box" placeholder="          search....">
    </div>

    <div class="subdiv">
        
     <div class="cart-txt" (click)="cartShow()">Cart</div>
<mat-icon class="icondiv"  style="font-size: 1rem;" (click)="cartShow()">add_shopping_cart </mat-icon>
        
    </div>

</div>
<router-outlet></router-outlet>