<app-header></app-header>
<div class="main-div">

    <div class="successImageDiv">
        <img src="../assets/images/SuccessPage.jpg" />
    </div>

    <span>Hurray!!!your order is confirmed</span>
    <span>the order id #123345 is save the order id for</span>
    <span>further communication...</span>
    <div class="tables1">
        <table class="tables">

            <tr class="row">
                <th>Email us</th>
                <th>Contact us</th>
                <th>Address</th>
            </tr>


            <tr class="row2">
                <td>admin@bookstore.com</td>
                <td>+918163475881</td>
                <td>42,14th Main, 15th cross,Section 4, opp to BDA<br> complex, near Kumarakom
                    restuarant, HSR Layout,<br> Bangalore, 560034</td>
            </tr>

        </table>
    </div>
    <div>
        <div class="b1">
            <button routeLink="orderplaced" mat-raised-button
                style="background-color: rgb(115, 115, 226); color: aliceblue">Continue Shopping</button>
        </div>

    </div>

</div>
<app-footer></app-footer>